:root {
	--font-size-primary: 0.906rem; /* 14.5px */
	--font-size-secondary: 0.688rem; /* 11px */

	--foreground: rgba(0, 0, 0, 0.75);

	--border-color: rgba(0, 0, 0, 0.55);
	--border-shorthand: 0.063rem solid var(--border-color);

	/* Button */
	--button-hover-foreground: rgba(255, 255, 255, 0.9);
	--button-hover-backround: rgba(0, 0, 0, 0.78);
	--font-size-button: 0.769rem; /* 12.3px */

	--seven: 0.438rem; /* 7px */
	--twelve: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--foreground);
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 91vh;
	margin-block: 4.5vh;
	padding: var(--twelve);
	font-size: var(--font-size-primary);
}

main {
	width: 100%;
	max-width: 34.375rem;
}

.sr-only__:not(:focus):not(:active) {
  border: 0;
  margin: -0.0625rem;
  padding: 0;
  height: 0.0625rem;
  width: 0.0625rem;
  overflow: hidden;
  white-space: nowrap; 
  clip: rect(0, 0, 0, 0); 
  clip-path: inset(50%);
  position: absolute;
}

/* Base PX / Top Part */

.__base-px {
	border: var(--border-shorthand);
	padding: var(--seven) var(--twelve);
}

._base-px-input {
	border: none;
	border-block-end: var(--border-shorthand);
	max-width: 2.8125rem;
	font-size: var(--font-size-button);
	font-style: italic;
	text-align: center;
}

/* Preview / Middle Part */

.__preview {
	border: var(--border-shorthand);
	border-block-start: none;
	height: 15rem;
	padding: 0 var(--twelve);
	font-size: 16px; /* Using px on purpose */
	overflow-y: auto;
}

.__preview > p {
	margin: 0.625rem 0;
	font-size: 1em;
}

/* PX & REM Input / Bottom Part */

.__inputs {
	display: flex;
	border: var(--border-shorthand);
	border-block-start: none;
	font-size: var(--font-size-button);
}

._px,
._rem {
	display: flex;
	justify-content: center;
	width: 100%;
}

._px {
	border-inline-end: var(--border-shorthand);
}

.px-input_,
.rem-input_ {
	border: none;
	width: 100%;
	padding: var(--seven) var(--twelve);
	font-size: inherit;
	text-align: center;
}

.unit_ {
	padding: var(--seven) var(--twelve);
	font-style: italic;
}

/* Notice / Link */

#notice {
    margin-block-start: 0.656rem;
    padding: 0 var(--seven);
    font-size: var(--font-size-secondary);
    text-align: center;
    line-height: 1.1;
    word-wrap: break-word;
}

/* Media Query */

/* Font Size */
@media (max-width: 30rem) { /* 480px */
    html {
        font-size: calc(1rem - 10%);
    }
}
/* -------- */